<div class="candidate-root">
  <app-dashboard></app-dashboard>
  <div class="candidate-section">
    <div class="candidate-top"></div>
    <div class="candidate-main">
      <div class="candidate-h2-btn">
        <h2>Candidates List</h2>
        <app-add-candidate-button></app-add-candidate-button>
      </div>
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Department</th>
            <th>Experience</th>
            <th>Interview Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let candidate of candidates">
            <td>{{ candidate.id }}</td>
            <td>{{ candidate.name }}</td>
            <td>{{ candidate.email }}</td>
            <td>{{ candidate.phone }}</td>
            <td>{{ candidate.department }}</td>
            <td>{{ candidate.experience }}</td>
            <td>{{ candidate.interviewStatus }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
