<div class="candidate-add">
  <form>
    <div class="candidate-add-top">
      <h2>Add Candidate</h2>
      <button class="close-button" (click)="cancelForm()">&#x2715;</button>
    </div>
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required />

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required />

    <label for="phone">Phone:</label>
    <input type="tel" id="phone" name="phone" required />

    <label for="department">Department:</label>
    <input type="text" id="department" name="department" required />

    <label for="experience">Experience:</label>
    <input type="text" id="experience" name="experience" required />

    <label for="interviewStatus">Interview Status:</label>
    <input type="text" id="interviewStatus" name="interviewStatus" required />

    <button class="up-cn" type="submit">Add</button>
    <button class="up-cn" type="button" (click)="cancelForm()">Cancel</button>
  </form>
</div>
