<div class="employee-root">
  <app-dashboard></app-dashboard>
  <div class="employee-section">
    <div class="employee-top"></div>
    <div class="employee-main">
      <div class="employee-h2-btn">
        <h2>Employee List</h2>
        <app-add-employee-button
          (click)="openEmployeeForm()"
        ></app-add-employee-button>
      </div>
      <table class="employee-table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Department</th>
            <th>Salary</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let employee of employees">
            <td>{{ employee.id }}</td>
            <td>{{ employee.name }}</td>
            <td>{{ employee.email }}</td>
            <td>{{ employee.phone }}</td>
            <td>{{ employee.department }}</td>
            <td>{{ employee.salary }}</td>
            <td>
              <button
                mat-icon-button
                color="primary"
                (click)="selectEmployee(employee)"
              >
                <mat-icon>edit</mat-icon>
              </button>
              <button
                mat-icon-button
                color="warn"
                (click)="deleteEmployee(employee)"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div *ngIf="selectedEmployee" class="employee-edit">
  <div class="employee-edit-top">
    <h2>{{ selectedEmployee.id ? "Edit" : "Add" }} Employee</h2>
    <button class="close-button" (click)="clearSelection()">&#x2715;</button>
  </div>

  <form (ngSubmit)="updateEmployee(selectedEmployee)" class="edit-form">
    <label for="name">Name:</label>
    <input
      type="text"
      id="name"
      [(ngModel)]="selectedEmployee.name"
      name="name"
    />

    <label for="email">Email:</label>
    <input
      type="email"
      id="email"
      [(ngModel)]="selectedEmployee.email"
      name="email"
    />

    <label for="department">Phone:</label>
    <input
      type="text"
      id="phone"
      [(ngModel)]="selectedEmployee.phone"
      name="phone"
    />

    <label for="department">Department:</label>
    <input
      type="text"
      id="department"
      [(ngModel)]="selectedEmployee.department"
      name="department"
    />

    <label for="salary">Salary:</label>
    <input
      type="text"
      id="salary"
      [(ngModel)]="selectedEmployee.salary"
      name="salary"
    />
    <button class="up-cn" type="submit">
      {{ selectedEmployee.id ? "Update" : "Add" }}
    </button>
    <button class="up-cn" type="button" (click)="clearSelection()">
      Cancel
    </button>
  </form>
</div>

<app-employee-form
  *ngIf="showEmployeeForm"
  (cancel)="cancelEmployeeForm()"
  (onAddEmployee)="addEmployee($event)"
></app-employee-form>
