@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Quicksand:wght@500&family=Roboto:wght@500&display=swap");
body,
html {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

/* Styling for the root container */
.employee-root {
  display: flex;
  height: 100vh;
}

/* Styling for the employee section */
.employee-section {
  flex: 1;
  font-family: "Montserrat", sans-serif;
}

.employee-top {
  height: 5%;
  box-shadow: 6px 6px 12px #d5d5d5;
}

.employee-h2-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.employee-main {
  padding: 3em;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.7em;
}

.employee-edit {
  width: 30em;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1em;
  border-radius: 8px;
  background: white;
  box-shadow: 7px 7px 14px #a2a2a2, -7px -7px 14px #ffffff;
  z-index: 1000;
}

/* Styling for the form inside employee-edit */
.employee-edit form {
  display: grid;
  gap: 0.5em;
}

.employee-edit label {
  font-weight: bold;
}

.employee-edit input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.up-cn {
  padding: 10px 16px;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.employee-edit button[type="submit"] {
  background-color: #4caf50;
}

.employee-edit button[type="submit"]:hover {
  background-color: #45a049;
}

.employee-edit button[type="button"] {
  background-color: #f44336;
}

.employee-edit button[type="button"]:hover {
  background-color: #d32f2f;
}

.employee-edit-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-button {
  width: 1.3em;
  height: 1.3em;
  background: none;
  border: none;
  display: flex;
  font-size: 1.6em;
  align-items: center;
  justify-content: center;
  color: #000;
  padding: 1em;
  border-radius: 25%;
  transition: background-color 0.3s;
  cursor: pointer;
}

.close-button:hover {
  background-color: #f44336;
  color: #ffffff;
}

/* Styling for table header on smaller screens */
@media screen and (max-width: 768px) {
  .employee-root {
    flex-direction: column;
  }

  .dashbaord {
    width: 100%;
  }

  .employee-table th {
    font-size: 14px;
  }

  .employee-edit {
    width: 20em;
  }
}
